@model EfDemoMvc.Models.tblProduct
@{
    ViewBag.Title = "Create";
}

<h2>Add a new Product</h2>
@using (Html.BeginForm("Create","Default",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    <table class="table">
        <tr>
            <td>Enter Product Name: </td>
            <td>@Html.EditorFor(Model => Model.prod_name, new { htmlAtrributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>Enter Product Price: </td>
            <td>@Html.EditorFor(Model => Model.prod_price, new { htmlAtrributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>Enter Product Quantity: </td>
            <td>@Html.EditorFor(Model => Model.prod_qty, new { htmlAtrributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>Choose a Product Image: </td>
            <td><input type="file" name="postedFile" class="form-control" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" value="Add Product" class="btn btn-success text-center" />
                
            </td>
        </tr>
        

    </table>
    
}

